body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.heading{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.images{
    position: relative;
    left: 60px;
    top: 10px;
}


.options{
    padding-top:30px ;
}

.but, .pro{
    margin-right: 10px;
    height: 30px;
    border: none;
    background-color: white;
    font-size: 20px;
}

.searchbar{
    width: 400px;
    height: 30px;
    position:relative;
    top: 30px;
}

.Profile{
    padding-top:30px;
    padding-right:20px;
}


.middle{
    background-color: rgb(246, 246, 241);
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    justify-content: center;
}


.card{
    background-color: rgb(2, 109, 24);
    color: white;
}

.foot{
    width: 100%;
    max-width: 1500px;
    height: auto;
    padding: 20px;
    /* padding:50px 50px 50px 50px; */
}